@import '../../variables.scss';
.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: $calendarHeaderHeight;
    @media (max-width: $mobileWidth) {
        height: $calendarHeaderHeightMobile;
    }
    padding: 10px 0;
    .wrapperGroupBtn {
        display: flex;
        align-items: center;
        gap: 60px;

        .btn {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #a1a1a1;
            border-radius: 50%;
            transition: all 0.2s linear;
            background-color: transparent;
            &:hover {
                background-color: #e8eeff;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .data {
            color: #000a39;
            text-align: center;
            font-size: 26px;
            font-weight: 700;
            margin-left: 12em;
            @media (max-width: $tabletWidth) {
                font-size: 16px;
            }
        }
    }
}
